<div class="row">
    <div class="col-xs-12">
        <form>
            <div id="registerForm" ng-show="showForm">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="name">
                <label>Description</label>
                <textarea class="form-control" ng-model="description">
                </textarea>
                <label>Tags (separated by comma)</label>
                <input type="text" class="form-control" ng-model="tags">
                <br>
                <button class="btn btn-primary" ng-click="register()">Register</button>
                <button class="btn btn-primary" ng-click="showForm = false;">Close</button>
            </div>
            <button class="btn btn-primary" ng-hide="showForm" ng-click="showForm = true;">Register Form</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" id="result">
    </div>
</div>
<div class="row">
    <div class="col-xs-3" ng-repeat="service in services">
        <div class="thumbnail">
            <img class="img-rounded" src="">
            <div class="caption text-center">
                <h3><a href="#service/{{service.id}}">{{service.name}}</a></h3>
                <p>{{service.description}}</p>
            </div>
        </div>
    </div>
</div>
