<div class="row">
    <div class="col-md-12">
        <form>
            <label>Name</label>
            <input type="text" class="form-control" ng-model="name">
            <br>
            <button class="btn btn-primary" ng-click="register()">Register</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="result">
    </div>
</div>
<div class="row" ng-init="getList()">
    <div class="col-md-12">
        <ul>
            <li ng-repeat="company in companies">{{company.name}}
            </li>
        </ul>
    </div>
</div>
