<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" ng-click="login()" ng-disabled="loginStatus.status == 'connected'">Connect with Facebook</button>
         &nbsp;
        <button class="btn btn-danger" ng-click="logout()" ng-disabled="!loginStatus || loginStatus.status != 'connected'">Logout</button>
         &nbsp;
        <button class="btn btn-success" ng-click="share()">FB.ui</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="#company">Company</a>
        <a href="#service">Service</a>
        <a href="#tag">Tag</a>
    </div>
</div>
