<div class="row">
    <div class="col-xs-8" id="result">
        <p>
            Name:
            {{service.name}}
        </p>
        <p>
            Description:
            {{service.description}}
        </p>
    </div>
    <div class="col-xs-4">
        <p>
            <button popover="Verify is ..." popover-title="TBD" popover-placement="right" class="btn btn-info">Verify</button>
        </p>
        <p>
            <button popover="Evaluate is ..." popover-title="TBD" popover-placement="right" class="btn btn-info">Evaluate</button>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form>
            Comment
            <textarea class="form-control" ng-model="content"></textarea>
            <br>
            <button class="btn btn-primary" ng-click="register()">Register</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul>
            <li ng-repeat="comment in comments">{{comment.author}} {{comment.content}}</a>
            </li>
        </ul>
    </div>
</div>
