<div class="row">
    <div class="col-md-12" id="result">
        Service:
        {{service.name}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form>
            Author
            <input type="text" class="form-control" ng-model="author">
            Comment
            <textarea class="form-control" ng-model="content"></textarea>
            <button class="btn btn-primary" ng-click="register()">Register</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul>
            <li ng-repeat="comment in comments">{{comment.author}} {{comment.content}}</a>
            </li>
        </ul>
    </div>
</div>
